@import 'tailwindcss';

li {
  list-style: none;
}

/* navbar dropdown ⬇️*/
.DropItemHover,
.DropItemHover h5 {
  transition: 0.3s ease-in-out;
}

.DropItemHover:hover {
  background-color: var(--background-blue);
}
.DropItemHover:hover {
  background-color: rgba(209, 157, 255, 0.349);
}

.DropItemHover:hover h5 {
  color: gray;
  border-radius: 50%;
}

/* navbar ⬆️ */
