@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

:root {
  --gradient-blue: #dddbff;
}

* {
  font-family: 'Open Sans', serif;
}

a {
  font-family: sans-serif;
}

li {
  list-style: none;
  font-family: sans-serif;
}

/* navbar dropdown ⬇️*/
.DropItemHover,
.DropItemHover h5 {
  transition: 0.3s ease-in-out;
}

.DropItemHover:hover {
  background-color: var(--background-blue);
}
.DropItemHover:hover {
  background-color: rgba(209, 157, 255, 0.349);
}

.DropItemHover:hover h5 {
  color: gray;
  border-radius: 50%;
}

/* navbar ⬆️ */
